@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* elements */
body {
  font-family: 'Exo 2', sans-serif; 
  height: 3000px; 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin: 0px;
}

body::after {
  content: "";
  background: url("/img/space.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  height: 250%;
}

uppermain {
    width: 100%;
    min-height: 150px;
    text-align: center;
}

main {
  display: flex;
}

mainleft {
  width: 50%;
  margin-left: 5%;
  margin-top: 8rem;
  display: flex;
  min-width: 1010px;
}

mainright {
  position: relative;
  min-width: 200px;
  height: 600px;
}

listofupgrades {
  min-width: 1010px;
  max-height: 700px;
  display: flex;
}

img {
  max-width: 100%;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
}

knappar {
  max-height: 260px;
  width: 260px;
  display: flex;
}

/* clicker */
#click {
  width: 8rem;
  height: 8rem;
  font-size: 2rem;
}

#rocketclick {
  width: 8rem;
  height: 8rem;
  font-size: 2rem;
}

#msgbox {
  width: 100%;

}

#msgbox > p {
  margin-bottom: .1rem;
  padding: .5rem;
}


.rocket {
  position: absolute;
  bottom: 0px;
}

.list {
 max-width: 500px;
 margin-right: 5px;
}
.warning {
  background-color: palevioletred;
}

.success {
  background-color:mediumspringgreen;
}

.card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid black;
  margin: .5rem 0;
  padding: .5rem;
  background: whitesmoke;
  min-height: 70px;
}

.card:hover {
  background-color: rgb(179, 179, 179);
}

.title {
  font-weight: 600;
}

.rocketlaunchanimation {
  animation: rocketlaunch 1s 1 alternate;
}

/* helpers */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
  min-width: 440px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  margin: auto;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.textrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  min-width: 615px;
  max-width: 750px;
  
}

.containerrow {
  max-width: 500px;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 2rem;
  max-width: 35vw;
}

.raketknapp {
  height: 130px;
  display: flex;
}

.bananknapp {
  display: flex;
  height: 130px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1100px) {
  .container {
    min-width: 1000px;
  }
}

@keyframes rocketlaunch { 
  100% {bottom: 1250px; right: 900px;}
}