@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* elements */
body {
  font-family: 'Exo 2', sans-serif; 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin: 0px;
  overflow: hidden;
  background: url("../img/space.png");
}

.background-tint {
  background-color: rgba(255, 0, 0, 0.5); /* Tint color */
  background-blend-mode: multiply;
}

h1 {
  text-align: center;
}

p {
  width: 100%;
}

.uppermain {
    width: 100%;
    min-height: 150px;
    text-align: center;
}

main {
  display: flex;
  height: 100%;
  overflow: none;
}

listofupgrades {
  display: block;
  height: 79vh;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
}

knappar {
  max-height: 260px;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}


/* clicker */
#click {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

#rocketclick {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

#rocketupgradeclick {
  width: 8rem;
  height: 8rem;
  font-size: 2.5rem;
}

#msgbox {
  width: 100%;

}

#msgbox > p {
  margin-bottom: .1rem;
  padding: .5rem;
}

#rocketupgradeelement {
  display: none;
  
}

#moneyupgradeelement {
  display: block;
  
}

#upgradelist {
  overflow: auto;
}

#upgradelist::-webkit-scrollbar {
  width: 2px;
} 

#upgradelist::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#upgradelist::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
}

#upgradelist::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.rocketimg {
  width: 5%;
  position: absolute;
  left: 47%;
  margin-top: 100px;
}

.list {
 margin-left: 5px;
 margin-right: 5px;
 height: 79vh;
}
.warning {
  background-color: palevioletred;
}

.success {
  background-color:mediumspringgreen;
}

.card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid black;
  margin: .5rem 0;
  padding: .5rem;
  background: whitesmoke;
  min-height: 70px;
}

.card:first-child {
  margin-top: 0px;
}

.card:hover {
  background-color: rgb(179, 179, 179);
}

.title {
  font-weight: 600;
}

.rocketlaunchanimation {
  animation: rocketlaunch 1s 1 alternate;
}

.gamebutton {
  display: block;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(255, 251, 0);
  color: black;
  width: 200px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  text-decoration: none;
  border: 2px solid black;
}

.gamebutton:hover {
  background-color: rgb(255, 245, 106);
}

.bigape {
  margin: auto;
  
}

.bigapewrap {
  margin-top: -31px;
  width: 100%;
  background: rgba(0, 0, 0, 0.123);
  color: rgb(66, 245, 66);

}

/* helpers */
.h-100 {
  height: 100%;
}

.w-100only{
  width: 100%;
}

.w-100 {
  font-size: 1rem;
  margin: 5px 10px;
  min-height: 110px;
  color: whitesmoke;
  max-height: 25%;
}

.justify-center {
  justify-content: center;
  margin: auto;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.textrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 100%;
  min-width: 615px;
  max-width: 750px;
  background: rgba(248, 248, 255, 0.5);
  border-radius: 20px;
}

.containerrow {
  max-width: 500px;
  
}

.borderleftright {
  border-left: 5px solid rgba(24, 255, 36, 0.466);
  border-right: 5px solid rgba(24, 255, 36, 0.466);
}

.yellowborder {
  border: rgb(255, 255, 152) 5px solid;
  background: rgba(255, 255, 0, 0.205);
}

.greyborder {
  border: grey 5px solid;
  background: rgba(128, 128, 128, 0.24);
}

.overflowauto {
  overflow: auto;
  height: 58vh;
  margin-top: 10px;
}

.overflowauto::-webkit-scrollbar {
  width: 10px;
}

.overflowauto::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.overflowauto::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 113, 0.449);  
}

.overflowauto::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 2rem;
  max-width: 35vw;
  width: 33.33%;
  
}

.raketknapp {
  height: 130px;
  display: flex;
  width: 33%;
}

.raketupgradeknapp {
  height: 130px;
  display: flex;
  width: 33%;
}

.bananknapp {
  display: flex;
  height: 130px;
  width: 33%;
}

.bigfont {
 font-size: 1.2rem;
 text-align: center;
 border: rgb(229, 233, 0) 4px solid;
 background: rgba(255, 255, 0, 0.24);
}

.maincounter {
  text-align: center;
}

.smallmargin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.titlebox {
  display: flex;
  background: white;
  height: 10vh;
  min-height: 50px;
  margin: 0px;
  margin-top: 0.5rem;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  border: black 2px solid;
  animation: blinkborder 1s infinite;
}



@media (min-width: 0px) {
  #click {
    font-size: 2vw;
  }
  #rocketclick {
    font-size: 4vw;
  }
  #rocketupgradeclick{
    font-size: 4vw;
  }
  .w-100 {
    font-size: 2vw;
  }
  .card {
    font-size: 2.2vw;
  }
  .w-100only {
    font-size: 3vw;
  }
  .w-100{
    margin: 0px;
  }
  .column {
    padding: 0px;
  }
  .bigapewrap {
    margin-top: 0px;
  }
}

@media (min-width: 750px) {
  .card {
    font-size: 1rem;
  }
  .w-100only {
    font-size: 2.5vw;
  }
  .column {
    padding-top: 3vw;
  }
  .bigapewrap {
    margin-top: 0px;
  }
}

@media (min-width: 850px) {
  .w-100 {
    font-size: 1rem;
  }
  .column {
    padding-top: 2rem;
  }
}

@media (min-width: 1100px) {
  .container {
    min-width: 1000px;
  }
  #click {
    font-size: 1.3rem;
  }
  #rocketclick {
    font-size: 3rem;
  }
  #rocketupgradeclick{
    font-size: 2.5rem;
  }
}

@keyframes rocketlaunch { 
  from   {left: 47%; top: 74.5%;}
  to {left: 50%; top: 30%; width: 1%; }
}

@keyframes blinkborder {
  0%    {border: rgb(251, 255, 7) 4px solid;}
  50%   {border: rgb(0, 255, 225) 4px solid;}
  100%  {border: rgb(251, 255, 7) 4px solid;}
}