@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* elements */
body {
  font-family: 'Exo 2', sans-serif; 
  height: 3000px; 
}

body::after {
  content: "";
  background: url("/img/space.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  height: 250%;
}

uppermain {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
}

main {
  display: flex;
}

img {
  max-width: 100%;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
}

/* clicker */
#click {
  width: 8rem;
  height: 8rem;
  font-size: 2rem;
}

#msgbox {
  width: 100%;

}

#msgbox > p {
  margin-bottom: .1rem;
  padding: .5rem;
}

.rocket {
  position: absolute;
  top: 1000px;
  right: 50px;
}

.warning {
  background-color: palevioletred;
}

.success {
  background-color:mediumspringgreen;
}

.card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid black;
  margin: .5rem 0;
  padding: .5rem;
}

.card:hover {
  background-color:seashell;
}

.title {
  font-weight: 600;
}

/* helpers */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 2rem;
  max-width: 35vw;
}

.container {
  width: 100%;
  margin-left: 5%;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 8rem;
}

.raketknapp {
  margin-left: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 540px) {
  .row {
    flex-direction: column-reverse;
  }
}
